<%- include("header", {title: title})  %> 
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    
    <div>
      <% messages.forEach(message => { %>
      <div>
        <h2><%= message.title %></h2>
        <p><%= message.content %></p>
        <% if (currentUser?.membershipStatus === "member" || currentUser?.membershipStatus === "admin") { %>
        <p>Author: <%= message.author.username %></p>
        <p>Date: <%= message.date %></p>
        <% } %>
        <% if (currentUser?.membershipStatus === "admin") { %>
         <a href=<%- `/message/${message._id}/delete` %> >Delete Message</a>
        <% } %>
      </div>
      <% }) %>
    </div>
<%- include("footer")  %> 
