<%- include("header", {title: title}) %>
<div class="py-4 px-8 xl:px-64 2xl:px-96">
  <h1 class="text-3xl my-8">Sign Up</h1>
<form action="" method="post" class="flex flex-col gap-8">
<div class="flex items-center gap-4">
    <label for="firstName">First Name</label>
    <input
      type="text"
      name="firstName"
      id="firstName"
      placeholder="First Name"
      required
      class="border rounded p-2"
      <%-
      user
      &&
      `value="${user.firstName}"
      `
      %>
    />
  </div>
  <div class="flex items-center gap-4">
    <label for="lastName">Last Name</label>
    <input
      type="text"
      class="border rounded p-2"
      name="lastName"
      id="lastName"
      placeholder="Last Name"
      required
      <%-
      user
      &&
      `value="${user.lastName}"
      `
      %>
    />
  </div>
  <div class="flex items-center gap-4">
    <label for="username">Username</label>
    <input
      type="text"
      class="border rounded p-2 "
      name="username"
      id="username"
      placeholder="Username"
      autocomplete="username"
      required
      <%-
      user
      &&
      `value="${user.username}"
      `
      %>
    />
  </div>
  <div class="flex items-center gap-4">
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      class="border rounded p-2 "
      id="password"
      placeholder="Password"
      autocomplete="new-password"
      required
    />
  </div>
  <div class="flex items-center gap-4">
    <label for="confirmPassword">Confirm Password</label>
    <input
      type="password"
      class="border rounded p-2 "
      name="confirmPassword"
      id="confirmPassword"
      placeholder="Confirm Password"
      required
    />
  </div>
  <div>
    <input
      type="hidden"
      name="membershipStatus"
      id="membershipStatus"
      value="visitor"
      required
    />
  </div>
  <div>
    <button type="submit" class="border rounded p-2 px-4 bg-slate-50 hover:bg-slate-100 active:bg-slate-200">Sign in</button>
  </div>
</form>
<% if (errors) { %>

<ul class="list-disc">
  <% errors.forEach(error => { %>
  <li><%- error.msg %></li>
  <% }) %>
</ul>
</div>

<% } %> <%- include("footer") %>
